        <div class="mobile-fixed-contact d-block d-lg-none">
            <a href="tel:0413 459 830"><img src="assets/img/ico-phone-white.svg"/> Call Us</a>
            <a href="mailto:info@westbridge.com.au"><img src="assets/img/ico-envelope-white.svg"/> Email</a>
        </div>
        <footer>
            <div class="container">
                <div class="d-lg-flex d-md-block flex-vertical-center text-center text-lg-left last-flex-1">
                    <div class="d-sm-block">
                        <img src="assets/img/logo-light.svg" class="logo" height="65" class="logo" alt="Page Logo">
                    </div>
                    <div class=" pl-30 pr-30 pb-md-20 pt-md-20 contact">
                        <a href="tel:0413 459 830" class="d-block d-lg-inline"><img src="assets/img/ico-phone.svg"/> 0413 459 830</a>
                        <a href="mailto:info@westbridge.com.au" class="d-block d-lg-inline"><img src="assets/img/ico-envelope.svg"/> info@westbridge.com.au</a>
                    </div>
                    <div class="flex-horizontal-right text-center text-lg-right footer-navbar">
                        <a href="/" class="d-block d-lg-inline scrollTo">Home</a>
                        <a href="/#bookkeeping" class="d-block d-lg-inline scrollTo">Bookkeeping</a>
                        <a href="/#finance" class="d-block d-lg-inline scrollTo">Finance</a>
                        <a href="/#about-us" class="d-block d-lg-inline">About Us</a>
                        <a class="d-block d-lg-inline scrollTo" data-toggle="modal" data-target="#contact-modal">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="development">
                <a href="https://www.webz.net.au" target="_blank" title="Website Design Melbourne">Website Design Melbourne</a>
            </div>
        </footer>

        <div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="contactModal" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="cotactModal">Contact Us</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                              <label for="contactModalName">Name *</label>
                              <input type="text" class="form-control" id="contactModalName" placeholder="Enter name">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="contactModalPhone">Phone *</label>
                                      <input type="text" class="form-control" id="contactModalPhone" placeholder="Enter phone">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="contactModalEmail">Email address *</label>
                                      <input type="email" class="form-control" id="contactModalEmail" placeholder="Enter email">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                              <label for="contactModalMessage">Message *</label>
                              <textarea class="form-control" id="contactModalMessage" placeholder="Your message..." rows="5"></textarea>
                            </div>
                            <div class="row">
                                <div class="col text-right">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <!--Scripts-->        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
        <script src="/assets/libs/owl-carousel/owl.carousel.min.js"></script>
        
        <!-- Detect if document is scrolled to specified element -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
        
        <script src="/assets/js/script.js"></script>
    </body>
</html>
