{% include "partials/header.html" %}
<section style="background-image: url('assets/img/welcome-image.png')" class="pt-100 pb-100 dark-bg wow fadeInUp" id="welcome">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <h1>Accounting & Finance done right.</h1>
                <p class="mt30 mb30">Westbridge provide accounting support and finance services to people and small businesses. We help streamline the accounts of your business so you can spend your time growing it. </p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a class="btn btn-light mr10 scrollTo" href="/#about-us">READ MORE</a>
                <a class="btn btn-primary" data-toggle="modal" data-target="#contact-modal">CONTACT US</a>
            </div>
        </div>
    </div>
</section>

<section class="pt-50 pb-50 wow fadeInUp" id="about-us">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <img src="assets/img/logo-symbol.svg" width="50" class="mb10"/>
                <h2>Why Use Westbridge?</h2>
            </div>
        </div>
        <div class="row mt50">
            <div class="col-md-4 text-center pb-20">
                <img src="assets/img/ico-handshake.svg" height="60"/>
                <h5 class="mt20 bold">We’re more than just bookkeepers</h5>
                <p class="mt20">Coming from an accounting background, we understand what your accountant needs, and deliver them your books to ensure cost effective processing of your financial reporting.  We are also finance specialists and are able to assess your debt situation to ensure you have the cheapest and most suitable product for your situation.</p>
            </div>
            <div class="col-md-4 text-center pb-20">
                <img src="assets/img/ico-chart.svg" height="60"/>
                <h5 class="mt20 bold">We understand business</h5>
                <p class="mt20">We’ve been in the accounting services industry for 15 years. Our director Kara Miller, has worked for large mid-tier accounting firms for a number of years before becoming a seasoned business owner who understands the demands of business life. </p>
            </div>
            <div class="col-md-4 text-center">
                <img src="assets/img/ico-arrow.svg" height="60"/>
                <h5 class="mt20 bold">We’re highly qualified</h5>
                <p class="mt20">With an accounting degree and a Chartered Accountant qualification, Kara is more qualified than most bookkeepers. We are a registered BAS agent with the Tax Practitioners Board, a licensed Xero advisor and trainer, and member of the Chartered Accountants of Australia & NZ. She is also a qualified mortgage broker and member of the Mortgage Finance Association of Australia.</p>
            </div>
        </div>
    </div>
</section>

<section class="bg-gray wow fadeInUp" id="bookkeeping">
    <div class="container col-to-left-lg">
        <div class="row">
            <div class="col-lg-5 col-sm-12 image-col" style="background-image: url('assets/img/0EFDQKW84D.png');"></div>
            <div class="col-lg-7 line-height-2em">
                <h2 class="pt-100">Bookkeeping Services</h2>
                <span class="font-open-sans-semi-bold">How we can save you time, and money on your accounting bills:</span>
                <div class="row mt30 pb-100 font-open-sans">
                    <div class="col-lg-6">
                        - Accounts payable<br/>
                        - Accounts receivable <br/>
                        - Reconcile bank accounts, credit card statements <br/>
                        - & loan balances<br/>
                        - BAS and IAS compliance<br/>
                        - Xero software setup and training<br/>
                    </div>
                    <div class="col-lg-6">
                        - Accounts payable<br/>
                        - Accounts receivable <br/>
                        - Reconcile bank accounts, credit card statements <br/>
                        - & loan balances<br/>
                        - BAS and IAS compliance<br/>
                        - Xero software setup and training<br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="finance" class="wow fadeInUp">
    <div class="container col-to-right-lg">
        <div class="row">            
            <div class="col-lg-8 line-height-2em pb-100 order-1 order-lg-0 font-open-sans">
                <h2 class="pt-100">Finance</h2>
                <span class="font-open-sans-semi-bold">As part of our holistic accounting support services, we can also review assets and debts to ensure you are making the most out of your home and assets. </span>
                <p class="mt30">
                    - We compare the home loan market for you, saving you time. We aim to find you a better deal, saving you money. <br/>
                    - We have access to over 20 lenders and their products to help you find the best finance for your situation. <br/>
                    - We take the hassle out of the application process. <br/>
                </p>
                <span class="font-open-sans-semi-bold">Our finance services cover: </span>
                <p>
                    - Property purchases - determining how much you can borrow and pay for your next property purchase. <br/>
                    - Loan comparison - finding the most suitable loan for you.  <br/>
                    - Property development finance. <br/>
                    - Mortgage refinance - finding a loan with a lower interest rate, fees or more options. <br/>
                    - Equity release – We enable you to access equity in your property so you can renovate, invest, or spend. <br/>
                    - Debt consolidation - providing you options for paying off your high interest debt. <br/>
                    - Find solutions for any asset purchase that requires finance. <br/>
                </p>
                <br/><br/>
                In most cases, these services are free to you as we are paid by the lenders who we deem have the best product for your needs.  
            </div>
            <div class="col-lg-4 image-col order-0 order-lg-1" style="background-image: url('assets/img/shutterstock_391391320.png'); background-size: cover"></div>
        </div>
    </div>
</section>

<section class="bg-gray pt-50 pb-50 wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-sm-12 offset-sm-0 text-center">
                <img width="50" src="assets/img/icon-social.svg"/>
                <h2 class="mt20">What our clients say about us</h2>
                <div class="row mt30 owl-carousel owl-theme testimonials font-open-sans">
                    <div class="col-lg-10 offset-lg-1 text-center item mb30">
                        <i>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis. nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem I ullamco laboris nisi ut aliquip ex ea commodo consequat."</i>
                        <br/><br/>
                        <img src="assets/img/testimonial1.png"/><br/><br/>
                        <strong>Martin Bloom, CEO</strong><br/>
                        STEELTECH LTD
                    </div>
                    <div class="col-lg-10 offset-lg-1 text-center item mb30">
                        <i>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis. nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem I ullamco laboris nisi ut aliquip ex ea commodo consequat."</i>
                        <br/><br/>
                        <img src="assets/img/testimonial1.png"/><br/><br/>
                        <strong>Martin Bloom, CEO</strong><br/>
                        STEELTECH LTD
                    </div>
                    <div class="col-lg-10 offset-lg-1 text-center item mb30">
                        <i>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis. nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem I ullamco laboris nisi ut aliquip ex ea commodo consequat."</i>
                        <br/><br/>
                        <img src="assets/img/testimonial1.png"/><br/><br/>
                        <strong>Martin Bloom, CEO</strong><br/>
                        STEELTECH LTD
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-100 pb-100 wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="mb50">Affiliations</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 owl-carousel owl-theme brands">
                <img src="assets/img/brand1.png" class="item"/>
                <img src="assets/img/brand2.png" class="item"/>
                <img src="assets/img/brand3.png" class="item"/>
                <img src="assets/img/brand4.png" class="item"/>
                <img src="assets/img/brand5.png" class="item"/>                
            </div>
        </div>
    </div>
</section>

{% include "partials/footer.html" %}
